
.clock-text {
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;    
}

.time {
    font-size: 3rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
}
    